<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img alt="Silhouette of mountains" src="https://i.imgur.com/8iVA8Nt.jpeg" />
      <div class="info">
        <ion-card-title>{{alunos[0].nome}}</ion-card-title>
        @if (alunos.length > 0) {
          @if (alunos[0].chave === '') {
            <ion-card-subtitle>{{ alunos[0].id }} - {{ alunos[0].unidade }} - {{ alunos[0].turno }}</ion-card-subtitle>

          } @else {
            <ion-card-subtitle>{{ alunos[0].id }} - {{ alunos[0].unidade }} - {{ alunos[0].turno }} - {{ alunos[0].chave }}</ion-card-subtitle>
          }
        }
      </div>
    </ion-card-header>
    <ion-list>
    <ion-item>
      <ion-input [value]="inputModel" (ionInput)="onInput($event)" placeholder="Chave"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="GoColorChanger()">Proxima pagina</ion-button>
  </ion-card>


</ion-content>
